#ensures the listed files are not tracked
# Virtual Environment
venv/
env/
# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static/Media
staticfiles/
media/